@inherits ProviderInvoiceBase

@page "/provider-invoices/{providerId}"

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-10">
            
        </div>
    </div>
</div>