@page "/login"

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="card login-top">
                <!-- <img src="/assets/img/logo/RESTA Small.png" class="card-img-top" alt="Workshop Logo"> -->
                <div class="card-body">
                  <h5 class="card-title">Iniciar sesión</h5>
                  <p class="card-text">Ingrese sus credenciales para acceder a la aplicación</p>
                  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="mb-3">
                        <label for="usuario" class="form-label">Usuario</label>
                        <input type="text" class="form-control" id="usuario" placeholder="Usuario" formControlName="user" />
                      </div>
                      <div class="mb-3">
                        <label for="clave" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="clave" formControlName="password" />
                      </div>                  
    
                      <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Ingresar</button>
                  </form>
                </div>
              </div>

              <app-message [isError]="true" [show]="loginError" [message]="errorMessage"></app-message>
        </div>
    </div>
</div>

