@inherits ProductsBase

@page "/products"

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-10">
            <h2>Products</h2>

            <ErrorMessage Display="@DisplayErrorMessage" Message="@ErrorMessage" />

        </div>
    </div>
</div>