@using Microsoft.AspNetCore.Components.Authorization

@page "/"

<div class="container-fluid">
    <div class="row">

        <div class="col-md-12">
            <AuthorizeView>
                <Authorized>
                    <h1>Hello, @context.User.Identity.Name!</h1>
                    <p>You can only see this content if you're authenticated.</p>
                </Authorized>
                <NotAuthorized>
                    <h1>Authentication Failure!</h1>
                    <p>You're not signed in.</p>
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </div>
</div>

